#!/usr/bin/make -f

BUILDPATH := $(shell mktemp -d)
export GOPATH=${BUILDPATH}

%:
	dh $@

override_dh_auto_build:
	mkdir -p ${BUILDPATH}/src/github.com/openstack
	ln -s $(CURDIR) ${BUILDPATH}/src/github.com/openstack/swift
	cd ${BUILDPATH}/src/github.com/openstack/swift/go; make get all
	rm -rf ${BUILDPATH}

override_dh_auto_install:
override_dh_auto_test:
override_dh_auto_clean:

override_dh_installinit:
	dh_installinit --no-start
	dh_installinit --no-start -phummingbird --init-script=hummingbird-object
	dh_installinit --no-start -phummingbird --init-script=hummingbird-object-auditor
	dh_installinit --no-start -phummingbird --init-script=hummingbird-object-replicator
